@CHARSET "UTF-8";

.header-search {
    width: 100%;
    height: 150px;
    background-image: url(../images/main_top.jpg);
    background-size: cover;
    text-align: center;
}

.header-search h1 {
    font-size: 25px;
    color: white;
    padding-top: 50px;
}

#searchText {
    width: 28%;
    height: 30px;
    margin: 10px 0 0;
    border: 1px solid grey;
    padding: 0;
}

#searchButton {
    width: 4%;
    height: 30px;
    margin: 10px 0 0;
    padding: 0;
    border: 1px solid grey;
}

#searchButton:hover{
    cursor: pointer;
}


